/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.project {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
}

.project h2, .project h3 {
  margin: 10px 0;
}

iframe {
  margin: 20px 0;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .project iframe {
    width: 100%;
    height: auto;
  }
}

body {
  padding-top: 80px; /* Adjust based on the height of your navbar */
  margin: 0;
  box-sizing: border-box;
}